
<div class="componentContainer"> <!-- ##################################################################################### -->
    
    <div class="trackbar" appTrackBar [currentQuestionIndex]='questionsCounter'>
        <div class="trackbar__child" id="i" *ngFor='let bar of questionsAndOptions; let i = index'> &nbsp;</div>
    </div> 

    <h1 class="title"> Question Number {{ questionsCounter + 1 }} </h1> 

    <form class="form">
        <div class="form__buttonsWrapper">
            <button type="button" class="buttonMain previousQuestionButton"  (click)='goToPrevQuestion()' 
                    [ngClass]="{ 'button-blocked' : questionsCounter < 1 }" > Previous
            </button>
            <button type="button" class=" buttonMain nextQuestionButton"     (click)='goToNextQuestion()' 
                    [ngClass]="{ 'button-blocked' : questionsCounter === numberOfQuestions-1 }" >Next
            </button>
        </div>

        <div class="form__questionAndOptionsContainer" >
            <p class="question" [@nextQuestionState]="questionsCounter"> {{ questionsAndOptions[questionsCounter].question }} </p>

            <div class="form__group" *ngFor="let option of questionsAndOptions[questionsCounter].options; let i = index" (click)="answerChosen(option)">
                <input type="radio" name="possible-answer" [value]="['option'+i]" class="form__input" [id]="['option'+i]">
                <label [for]="['option'+i]" class="form__label" [@nextQuestionState]="questionsCounter">
                    <span class="form__radioButton"></span>
                    <span [class]="['option-'+i+'-text']" > {{ option }}</span>
                </label>
            </div> 
        </div>
    </form>
    
    
    <button type="button" class="buttonMain scoreButton"  
    *ngIf="questionsCounter === numberOfQuestions-1"   
    [ngClass]="{ loading : isLoading }"
    (click)='goToScorePage()'> See results
    </button>

</div>  <!-- container -->







