    
<div class="selectNumberAndDifficultyContainer">
    <div class="selectNumberOfQuestionsWrapper">
        <label for="num-select"> Number of Questions </label>
        <select name="number" id="num-select"   [(ngModel)]="numberOfQuestions">
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>
    </div> 
    
    <div class="selectDifficultyWrapper">
        <label for="diff-select"> Difficulty  </label>
        <select name="number" id="diff-select"  [(ngModel)]="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
</div>


<div class="catsContainer" [ngClass]="{ 'catsContainer-blocked' : isLoading }">
    <figure class="catWrapper"  @introImagesState   [ngClass]="{ 'catWrapper-selected' : chosenCatName === 'sports' }"  (click)="catChosen('sports')">
        <caption class="catWrapper__name"> Sports </caption> <img src="../assets/img/sports.jpg" alt="sports" class="catWrapper__image">
    </figure>

    <figure class="catWrapper"  [ngClass]="{ 'catWrapper-selected' : chosenCatName === 'animals' }" (click)="catChosen('animals')" >
        <caption class="catWrapper__name"> Animals </caption> 
        <img src="../assets/img/animals.jpg" alt="sports" class="catWrapper__image">
    </figure>

    <figure class="catWrapper"  [ngClass]="{ 'catWrapper-selected' : chosenCatName === 'computer-science' }" (click)="catChosen('computer-science')" >
        <caption class="catWrapper__name"> Computer Science </caption> 
        <img src="../assets/img/computer-science.jpg" alt="sports" class="catWrapper__image">
    </figure>

    <figure class="catWrapper"  [ngClass]="{ 'catWrapper-selected' : chosenCatName === 'movies' }"  (click)="catChosen('movies')">
        <caption class="catWrapper__name"> Movies </caption> 
        <img src="../assets/img/movies.jpg" alt="sports" class="catWrapper__image">
    </figure>

    <figure class="catWrapper"  [ngClass]="{ 'catWrapper-selected' : chosenCatName === 'music' }" (click)="catChosen('music')" >
        <caption class="catWrapper__name"> Music </caption> 
        <img src="../assets/img/music.jpg" alt="sports" class="catWrapper__image">
    </figure>

    <figure class="catWrapper"  [ngClass]="{ 'catWrapper-selected' : chosenCatName === 'politics' }" (click)="catChosen('politics')" >
        <caption class="catWrapper__name"> Politics </caption> 
        <img src="../assets/img/politics.jpg" alt="sports" class="catWrapper__image">
    </figure>
</div>


<button type="button" class="btn startButton" [ngClass]="{ playButtonActivated : chosenCatName }" (click)='displayQuestions()'> play </button>

                
<app-blurred-surface *ngIf='isLoading'></app-blurred-surface>


