

<div class='componentContainer' [ngClass]="{ loading : isLoading } ">

  <div class="mainContainer" [ngClass]="{ 'mainContainer-finalPosition' : adjustMainContainer}">
    <div class="mainContainer__head"  [ngClass]="{ 'mainContainer__head-extraPadding' : !introAnimationOn }" >
      
      <div class="appTitle" [ngClass]="{ removeElement : introAnimationOn }"> 
        <span class="appTitle__letter"> &nbsp;</span>
        <span class="appTitle__letter">Q</span>
        <span class="appTitle__letter">u</span>
        <span class="appTitle__letter">i</span>
        <span class="appTitle__letter">z</span>
        <span class="appTitle__letter">&nbsp;</span>
        <span class="appTitle__letter">P</span>
        <span class="appTitle__letter">l</span>
        <span class="appTitle__letter">a</span>
        <span class="appTitle__letter">n</span>
        <span class="appTitle__letter">e</span>
        <span class="appTitle__letter">t</span>
        <span class="appTitle__letter"> &nbsp;</span>
      </div> 
      
      <h1 class="mainContainer__head__title"  [ngClass]="{ removeElement : !introAnimationOn }" > Quiz Planet </h1>

    </div> <!-- mainContainer__head -->


    <div class="mainContainer__body">
      <router-outlet></router-outlet>
    </div>

  </div>  <!-- main wrapper -->








  <!-- Intro Animation stuff ################################################################################### -->

  <div class="introDoor" [ngClass]="{ removeElement : introAnimationDone || !introAnimationOn}">
    <div class="introDoor__left"        [ngClass]="{ 'introDoor__left-pull'  : openDoorNow}" ></div>
    <div class="introDoor__right"       [ngClass]="{ 'introDoor__right-pull' : openDoorNow}" ></div>
    <div class="introDoor__middleLine"  [ngClass]="{ 'introDoor__middleLine-goDown' : animateZipperNow }" ></div>
  </div>


  <div class="zipperWrapper"  [@zipperState]="animateZipperNow"  [ngClass]="{ removeElement : introAnimationDone || !introAnimationOn}">
    <img class="zipper" src="../assets/zipper.svg" >

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <!-- 10 -->

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <!-- 10 -->


    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <!-- 10 -->

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>
    <div class="left"></div>

    <div class="right"></div>

    <!-- all 63 pieces -->

  </div>


</div>




