





<div class='container' [ngClass]="{ loading : isLoading }">

  <div class="mainWrapper">
    <div class="mainWrapper__head">
      
      <div class="AppTitle"> 
        <span class="AppTitle__letter"> &nbsp;</span>
        <span class="AppTitle__letter">Q</span>
        <span class="AppTitle__letter">u</span>
        <span class="AppTitle__letter">i</span>
        <span class="AppTitle__letter">z</span>
        <span class="AppTitle__letter">&nbsp;</span>
        <span class="AppTitle__letter">P</span>
        <span class="AppTitle__letter">l</span>
        <span class="AppTitle__letter">a</span>
        <span class="AppTitle__letter">n</span>
        <span class="AppTitle__letter">e</span>
        <span class="AppTitle__letter">t</span>
        <span class="AppTitle__letter"> &nbsp;</span>
      </div>   

    </div>  <!-- mainWrapper__head -->


    <div class="mainWrapper__body">
      <router-outlet></router-outlet>
    </div>

  </div>  <!-- main wrapper -->


</div>









