@import 'src/mixins.scss';



.componentContainer {
    background-image: linear-gradient(#172e7c, #55983400);
    height: 100vh;
    width: 100vw;

    @include gridCenter;
    overflow: hidden;
    transition: all .5s ease-out;
    position : relative;

    @include respond(tab-port-small) {
        overflow: auto;
        overflow-y : scroll;
    }

}


.mainContainer {
    height: calc(100vh - 2.5rem);
    width: 85vw;
    @include respond(phone) { width: 100vw }
    align-self: center;
    background-color: transparent;
    transition: all .5s ease-out;
    margin-top: -2rem;
    &-finalPosition { margin-top: 2.5rem !important }
    
    display: grid;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr;

    &__head {
        width: 100%;
        border-bottom: 4px solid #645e5e;
        background-color: #becaf3;
        border-radius: 1rem 1rem 0 0;

        position: relative; 
        display : flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        &-extraPadding { padding: 5.5rem 0 !important }
    
        .appTitle {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 29rem;
            font-weight: 700;
            font-size: 4rem;
            font-family: 'Merienda One', cursive;
            color : black;

            display: flex;

            &__letter {
                margin-right: 82rem;
                transition:all 1s ease-in;
                &-display { margin-right: 0rem !important }
            }

        }

        &__title {
            font-weight: 700;
            font-size: 4rem;
            font-family: 'Merienda One', cursive;
            background-image: linear-gradient(190deg, rgba(145,84,34,1) 0%, rgba(240,214,193,1) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

    }

    &__body { background-color: white }
}




// ################################################################    INTRO ANIMATION  ##################################################################


.introDoor {
    z-index: 10;
    position: fixed;
    height : 100%;
    width  : 100%;
    
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.3rem;

    &__middleLine {
        height: 100%;
        width: 1.5rem;
        background-color: #1A317D;
        position: absolute;
        top:50%;
        left: 50%;
        transform : translate(-50%,-50%);
        transition: all 2.88s linear;
        &-goDown {  transform : translate(-50%, 50%) }
    }

    &__left , &__right {
        transition: all 2s;
        transition-timing-function: cubic-bezier(.67,.09,.46,1);
        transform : translateX(0);
    }

    &__left {
        background: rgb(24,47,124);
        background: linear-gradient(270deg, rgba(24,47,124,1) 0%, rgba(255,255,255,1) 100%);
        &-pull { transform : translateX(-100%) }
    }

    &__right {
        background: rgb(24,47,124);
        background: linear-gradient(90deg, rgba(24,47,124,1) 0%, rgba(255,255,255,1) 100%);
        &-pull { transform : translateX(100%) }
    }

}



.zipperWrapper {
    z-index: 20;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  
    .zipper {
        z-index: 356;
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 4.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 3s linear;
        fill : grey;
        grid-column: 1 / 2;
    }

    .left , .right {
        width: 20px;
        height: calc(100vh / 63);
        background-color: grey;
        border:2px solid black;
        border-radius:3px;
        justify-self: center;
        grid-column: 1 / 2;
    }

    .left { transform: translateX(5px) }
    .right { transform: translateX(-5px) }

}





