


<!-- <button class="start"> sdgdgsg </button> -->


<div class='container' [ngClass]="{ loading : isLoading }">

  <div class="mainWrapper">
    <div class="mainWrapper__head">
      
      <div class="AppTitle"> 
        <span class="AppTitle__letter"> &nbsp;</span>
        <span class="AppTitle__letter">Q</span>
        <span class="AppTitle__letter">u</span>
        <span class="AppTitle__letter">i</span>
        <span class="AppTitle__letter">z</span>
        <span class="AppTitle__letter">&nbsp;</span>
        <span class="AppTitle__letter">P</span>
        <span class="AppTitle__letter">l</span>
        <span class="AppTitle__letter">a</span>
        <span class="AppTitle__letter">n</span>
        <span class="AppTitle__letter">e</span>
        <span class="AppTitle__letter">t</span>
        <span class="AppTitle__letter"> &nbsp;</span>
      </div>   

    </div>  <!-- mainWrapper__head -->


    <div class="mainWrapper__body">
      <router-outlet></router-outlet>
    </div>

  </div>  <!-- main wrapper -->



    
  <div class="introDoor">

    <div class="introDoor__left"  [ngClass]="{ 'pull-left-side' : openDoorNow}" ></div>
    <div class="introDoor__right" [ngClass]="{ 'pull-right-side' : openDoorNow}" ></div>
    <div class="introDoor__line"></div>


  </div>





  <!-- <div class="zipper-container" [@zipperState]="hideElement"> -->
    <div class="zipper-container">
      <img class="zipper" src="../assets/zipper.svg" alt="">

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <!-- 10 -->

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <!-- 10 -->


      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <!-- 10 -->

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      
      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>

      <div class="right"></div>
      <div class="left"></div>




      <!-- 7 -->

  </div>




</div>










