// @import 'src/buttons.scss';
@import 'src/mixins.scss';




.btn {
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    text-transform: uppercase;
    outline: none;
    font-family: 'Roboto Slab', serif;

    @media (hover: none) {
        a:hover { color: inherit; }
    }
}




// ##################################################################################### this is the main style ######################################
.buttonMain {
    outline : none;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	// background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:1rem;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5rem;
	font-weight:bold;
    // padding:1rem 3rem;
    padding: 1vw 3vw;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    text-transform: uppercase;
    
    &:active {
        position:relative;
        top:1px;
    }
}


.scoreButton {
    background:linear-gradient(to bottom, #a698da 5%, #604ab3 100%);
    border-radius:.7rem;
    margin-top: 4rem;
    margin-bottom: .7rem;
}


.nextQuestionButton {
	background:linear-gradient(to bottom, #e2a59f 5%, #d38f89 100%);
}


.previousQuestionButton {
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
}



.answersButton {
    background:linear-gradient(to bottom, #a698da 5%, #604ab3 100%);
    border-radius:.5rem;
}


.playAgainButton {
    background:linear-gradient(to bottom, #a698da 5%, #604ab3 100%);
    border-radius:.5rem;
    margin-left: 2rem;
}


.goBackButton  {
    background:linear-gradient(to bottom, #ce7464 5%, #604ab3 100%);
    border-radius:.5rem;
    background: linear-gradient(to bottom, #e1a196 5%, #d4b4b2 100%);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
    display : flex;
    justify-content: center;
    align-items: center;

    &__logo {
        height : 2rem;
        width: 2rem;
        fill : currentColor;
        margin-right: 1rem;
    }

}







// ######################################################################################   UTILITIY CLASSES ##################################

.button-blocked {
    opacity: 0.5 !important;
    cursor : not-allowed !important;

    &:active {
        position:relative;
        top:0px;
    }
}








