@import 'src/mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { // this defines what 1 rem is : 1rem = 10px
    font-size: 62.5%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */ 

    @include respond(phone) {
        font-size : 50%;
    }

}


body { /* all the stuff in here , will be inherited to the child elements.*/
    box-sizing: border-box;
}


// ########################################################         MIXINS         ####################################################




// ########################################################         VARS         ####################################################






// ########################################################         OTHER         ####################################################



.loading {
    cursor : wait !important;
    filter:blur(2px);
    // background-color: red !important;
}





.removeElement {
    display : none !important;
}






































